/* Importación de fuente */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend";
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.418) 0%),
    url(/images/91Vc9Z6KYKL._AC_SL1500_.jpg);
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  justify-content: center;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.79);
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

button p {
  color: #fff;
}

button:hover {
  background-color: #5b234e;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 35px;
  padding-bottom: 20px;
  color: #ab4493;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #d73ab2;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #d73ab2;
}

/* Boton para volver atras */
.btn-violeta {
  background-color: #d3b2ff; /* Violeta claro */
  color: white;
  padding: 5px 10px; /* Tamaño más pequeño */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}

.btn-violeta p {
  margin: 0;
}

.btn-violeta:hover {
  background-color: #9b4eff;
  border: 1px solid #d3b2ff;
}
