@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", sans-serif;
  background-color: #f0f0f0;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.418) 0%),
    url(/images/91Vc9Z6KYKL._AC_SL1500_.jpg);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 50px;
}

.card {
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.79);
}

.card-title {
  font-size: 35px;
  color: #ab4493;
}

.card-subtitle {
  font-size: 16px;
  color: #0e0e0e;
  margin-bottom: 30px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ab4493;
}

.btn-violeta {
  background-color: #d3b2ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.btn-violeta:hover {
  background-color: #9b4eff;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
  text-align: center;
  margin-top: 10px;
}

.text-danger {
  color: #dc3545;
}
